
target/**

.idea
**/*.iml

integration-tests/metrics/
retail-example/metrics/

project/metrics
project/vault-catalog
**/TEST-*.json
project/files/large/syn*.csv

**/*-test.*
**/__pycache__/**

AGENTS.md

.vscode/
